@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Moon-get';
  src: url(./assets/fonts/moon-get.ttf);
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@layer base {
  * {
    @apply font-montserrat;
  }

  input {
    @apply appearance-none;
  }

  button {
    @apply select-none;
  }
}

@layer components {
  .text-vertical {
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    -webkit-text-orientation: mixed;
    text-orientation: mixed;
  }

  .text-title {
    @apply text-xl font-moonget my-1;
  }

  .text-subtitle {
    @apply text-yellow-dark font-semibold text-base;
  }

  .bg-card {
    @apply py-5 px-8 bg-grey-light rounded-xl flex;
  }

  .animate-spin-fast {
    animation: spin 500ms linear infinite;
  }

  .pill-shape {
    @apply py-1 px-5 rounded-full w-min whitespace-nowrap;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

